{% extends "blog/base.html" %}
{% block content%}


<article class="media content-section ">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url}}">
    <div class="media-body">
        
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

                </div>
                
            {% endif %}
        </div>
        <div style="height: 50%; width: 100%; float: none;">

            <div>
                <img height="auto" width="100%" src="{{object.post_images.url}}">
                <h2 class="article-title" >{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>

                {% if request.user.is_authenticated %}
                  {% if object.id in liked_posts %}
                      <p>You've already liked this post!</p>
                  {% else %}
                      <form method="POST" action="{% url 'like_post' object.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ object.id }}">
                        <input type="hidden" name="user_id" value="{{ request.user.id }}">
                        <button type="submit" class="btn btn-outline-success">
                          <i class="fas fa-thumbs-up"></i> Like 
                        </button>
                      </form>
                    {%endif%}
                  {%endif%}
                  <h5 style="color: darkblue;">
                    <span class="num-likes">{{ object.likes.count }}</span> likes
                   </h5> 
    
            </div>

        </div>
        


    </div>
</article>

{% endblock content %}