{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}


<article class="media content-section ">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url}}">
    <div class="media-body">
        
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

                </div>
                
            {% endif %}
        </div>
        <div>
        <div style="height: 50%; width: 100%; float: none;">

            
                <img height="auto" width="100%" src="{{object.post_images.url}}">
                <h2 class="article-title" >{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>
                  <div id="likes">
                {% if request.user.is_authenticated %}
                  {% if object.id in liked_posts %}
                      <p style="color:darkblue;">(You've already liked this post!)</p>
                     <h5> <strong class="num-likes" style="color: blue;">   {{ object.likes.count }}  likes</strong></h5>  
                  {% else %}
                      <form id="like-form" method="POST" action="{% url 'like_post' object.pk %}">
                        {% csrf_token %}
                        <input type="hidden" id="post_id" name="post_id" value="{{ object.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ request.user.id }}">
                        <button type="submit" class="btn btn-outline-success">
                          <i class="fas fa-thumbs-up"></i> Like 
                        </button>
                        
                       <strong class="num-likes" style="color: blue;margin-left: 0.5cm;">   {{ object.likes.count }}  likes</strong>   
                         
                      </form>
                      <br/>
                    {%endif%}
                  {%endif%}
                  </div>
                  

                  <br/>
                  <h5>Leave a comment: </h5>
                  {% if request.user.is_authenticated %}

                        <form id="comment-form" method="POST"  action="{% url 'post-detail' object.pk %}">
                            {% csrf_token %}
                            <div class="form-group comment-text">
                                {{form | crispy }}
                            </div>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>
                       
                    {% else %}
                        <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
                    {% endif %}

                   <br>
                   <br>
                  
                    <h5 id="comment-count" style="color: blue;">{{object.comments.count}} Comments...</h5>
                  



                  <div id="append-comments">
                    {% if not object.comments.all %}
                     <p id="no-comments">No Comments Yet</p> 
                  
                    
                    {% else %}
                    
                    
                    

                      
                      {% for comment in comments%}
                      
                      <br/>
                      <br/>
                      
                        <div class="article-metadata">
                          <img class="rounded-circle article-img" src="{{ comment.user.profile.image.url}}">  
                          {{comment.user}}
                          <small class="text-muted ml-2" > {{comment.date_added}} </small>
                        </div>
                        <br/>
                        {{comment.body}}
                        <br/>
                        <br/>
                        <a class="reply-comment-form" href="{% url 'reply_comment' comment.pk %}">Reply</a>
                        
                        {% for reply in comment.comment_set.all%}
                          <br/>
                          <br/>
                          <div style="margin-left: 1cm;">
                            <div class="article-metadata" >
                              <img class="rounded-circle article-img" src="{{ reply.user.profile.image.url}}">
                              {{reply.user}}
                              <small class="text-muted ml-2" >{{reply.date_added}}</small>
                            </div>
                            <br/>
                            {{reply.body}}
                            
                          </div>
                          {%empty%}
                          {%endfor%}
                          <br/>
                        {%empty%}
                        {% endfor %}
                    </div>
                          
                          

                    {% endif %}
                    

                    


                    
                    
                    
                  <script>

                    //this portion is for like react

                    










                    // this portion is for comment
                    $(document).ready(function(){

                      $('#like-form').submit(function(event){
                        event.preventDefault()

                        var post_id = $('#post_id').val();
                        var user_id = $('#user_id').val();
                        var url = $(this).attr('action');
                        console.log(url);
                        
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                              post_id: post_id,
                              user_id: user_id,
                              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                            dataType:'json',
                            
                            success: function(response) {
                              
                              // console.log(response);
                              
                              $("#like-form").hide();
                              
                                $('#likes').append(
                                    '<div>' +
                                      '<p style="color:darkblue;">'+ response.message+'</p>'+
                                      '<h5>'+ '<strong class="num-likes" style="color: blue;">'+ response.likes_count+' likes'+'</strong>'+'</h5>'+
                                    '</div>'
                                );
                                
                            },
                            error: function(response) {
                                console.log('Error:', response);
                            },
                        });
                      });

                      $('#comment-form').submit(function(event){
                        event.preventDefault()

                        var formData = $(this).serialize();
                        var url = $(this).attr('action');
                        // console.log(url);
                        
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: formData, 
                            dataType:'json',
                            
                            success: function(response) {

                              // console.log(response);
                              // Define the reply_comment URL here
                              $("#comment-count").remove();
                              $("#no-comments").remove();
                              $("#comment-form").trigger("reset");
                              
                                $('#append-comments').prepend(
                                    '<div>' + '<h5 id="comment-count" style="color:blue;">'+response.comments_count+ ' commments...'+ '</h5>'+'<br/>'+'<br/>'+
                                        '<div class="article-metadata">' +'<img class="rounded-circle article-img" src="{{ request.user.profile.image.url}}">'+
                                            response.user + ' <small class="text-muted">  ' + response.date_added + '</small>' +
                                        '</div>' +
                                        '<div >' +'<br/>'+
                                            '<p >' + response.body + '</p>' +
                                        '</div>' +
                                        '<a href ="'+response.reply_url+'">'+'Reply'+'</a>'+
                                    '</div>'
                                );
                                
                            },
                            error: function(response) {
                                console.log('Error:', response);
                            },
                        });
                      });
                    });
                  </script>

                  



            </div>



        </div>
        


    </div>
</article>

{% endblock content %}