{% extends "blog/base.html" %}
{% block content%}


<article class="media content-section ">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url}}">
    <div class="media-body">
        
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

                </div>
                
            {% endif %}
        </div>
        <div style="height: 50%; width: 100%; float: none;">

            <div>
                <img height="auto" width="100%" src="{{object.post_images.url}}">
                <h2 class="article-title" >{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>

                {% if request.user.is_authenticated %}
                  {% if object.id in liked_posts %}
                      <p>You've already liked this post!</p>
                  {% else %}
                      <form method="POST" action="{% url 'like_post' object.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ object.id }}">
                        <input type="hidden" name="user_id" value="{{ request.user.id }}">
                        <button type="submit" class="btn btn-outline-success">
                          <i class="fas fa-thumbs-up"></i> Like 
                        </button>
                        
                       <strong class="num-likes" style="color: blue;margin-left: 0.5cm;">   {{ object.likes.count }}  likes</strong>   
                         
                      </form>
                    {%endif%}
                  {%endif%}
                  <br/>
                  <h5 style="color: blue;">{{object.comments.count}} Comments...</h5>
                  <br/>
                  <br/>
                  <h5>Leave a comment</h5>
                  {% if request.user.is_authenticated %}
                    <form method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class="btn btn-outline-info" type="submit">submit</button>
                    </form>
                  {% endif %}

                   <br>
                   <br>
                   
                   
                    {% if not object.comments.all %}
                      No Comments Yet
                  
                    </a>
                    {% else %}

                    <br/>
                      {% for comment in comments%}
                      <br/>
                      <br/>
                      <div>
                        <div class="article-metadata">
                          <img class="rounded-circle article-img" src="{{ comment.user.profile.image.url}}">  
                          {{comment.user}}
                          <small class="text-muted ml-2" > {{comment.date_added}} </small>
                        </div>
                        <br/>
                        {{comment.body}}
                        <br/>
                        <br/>
                        <a href="{% url 'reply_comment' comment.pk %}">Reply</a>
                        {% for reply in comment.comment_set.all%}
                          <br/>
                          <br/>
                          <div style="margin-left: 1cm;">
                            <div class="article-metadata" >
                              <img class="rounded-circle article-img" src="{{ reply.user.profile.image.url}}">
                              {{reply.user}}
                              <small class="text-muted ml-2" >{{reply.date_added}}</small>
                            </div>
                            <br/>
                            {{reply.body}}
                            
                          </div>

                      </div>
                        
                          {%empty%}
                          {%endfor%}
                      {% endfor %}
                    {% endif %}
                    

                    <!-- {% if request.user.is_authenticated %}
                        
                        <form id="comment-form" method="post"  action="{% url 'post-detail' object.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.body}}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    {% else %}
                        <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
                    {% endif %} -->

                    <!-- <script type="text/JavaScript">
                      $(document).on('submit', #comment-form, function name(event) {
                        
                      
                          
                              event.preventDefault();
                              var formData = $(this).serialize();
                              var url = $(this).attr('action');
                              $.ajax({
                                  type: 'POST',
                                  url: url,
                                  data: formData,
                                  dataType: 'json'
                                  success: function(data) {
                                    
                                      $('#comments').prepend(
                                          '<div class="article-metadata">' +
                                              
                                              '<div class="">' +
                                                  data.user + ' <span class="text-muted">- ' + data.date_added + '</span>' +
                                              '</div>' +
                                              '<div >' +
                                                  '<p >' + data.body+ '</p>' +
                                              '</div>' +
                                          '</div>'
                                      );
                                      $('#comment-form')[0].reset();
                                      $('#message').removeClass('alert-danger').addClass('alert-success').text(response.message).show();
                                  },
                                  error: function(response) {
                                      $('#message').removeClass('alert-success').addClass('alert-danger').text(response.responseJSON.message).show();
                                  }
                              });
                          
                      });
                  </script> -->

                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>




            </div>



        </div>
        


    </div>
</article>

{% endblock content %}