
{% extends "blog/base.html" %}
{% block content%}
    <h1 class="mb-3">Posts by {{view.kwargs.username}}({{page_obj.paginator.count}})</h1>

    {% for post,last_comment in post_lastcomment %}
    
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url}}">  
      <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
           
            <small class="text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
          </div>
          <div>
            <div style="height: 50%; width: 100%; float: none;">
                <img height="auto" width="100%" src="{{post.post_images.url}}">
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p style="max-height: 100px; overflow: hidden; text-overflow: ellipsis;" class="article-content">{{ post.content }}</p>
                <p><a href="{% url 'post-detail' post.id %}">[.....]</a></p>
                <h5 style="color: darkblue;">
                  <span class="num-likes">{{ post.likes.count }}</span> likes
                 </h5> 
                 <p style="color: blue;">{{post.comments.count}} comments</p>
                 <br/>
                 
                 <br/>
                 
                 {% if last_comment%}
                  <p>latest comment</p>
                   <div class="article-metadata">
                   <img class="rounded-circle article-img" src="{{ last_comment.user.profile.image.url}}">  
                   {{last_comment.user}}
                   <small class="text-muted ml-2" > {{last_comment.date_added}} </small>
                   </div>
                   <br/>
                   {{last_comment.body}}
                   <br/>
                   <br/>
                   <a href="{% url 'post-detail' post.id %}">To see full comments</a>
                 
                 {%endif%}

            </div> 
          </div>
        </div>
      </article>
      
    {% endfor %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
      {% endif %}
    {% endif %}
{% endblock content %}
